* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #bc0404;
  --black: #000;
  --yellow: #d5d920;
  --light-green: #5bd936;
  --green: #1e6534;
}

nav.navbar {
  background: none;
  padding-left: 1em;
  border: none;
}

body {
  background-color: /* Secondary Color */;
  color: var(--black);
  font-family: /* Main Font */;
}

h1, h2 {
  font-family: /* Header Font */;
  color: var(--red);
}

/* Header*/
header.page-header {
  background-color: white;
  /*color: var(--green);*/
  width: 100%;
  margin-top: 0;
  padding: 0;
}

header.page-header img {
  height: 80px;
  object-fit: contain;
  margin-right: 2em;
  /*background-color: var(--yellow);*/
}

.navbar .navbar-nav > li > a {
  color: var(--green);
  font-size: 1.5em;
}

.navbar .navbar-nav > li  {
  height: 100%;
}
